h1 {
  background-color: #1E3A5F;
  text-align: center;
  padding: 25px;
  color: #FFFFFF;
}

.cont-app {
  background-color: #EAF0F6;
  min-height: 100vh;
}

ul {
  padding: 40px;
  color: #263238;
}

li {
  padding: 10px;
}
